.card {
  transform: rotateY(var(--rotate-y, 0));
  transform-style: preserve-3d;
  transition: 550ms;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0));
}

.card.flip {
  --rotate-y: 180deg;
}

.card .front,
.card .back {
  position: absolute;
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
}

.card.flip {
  --rotate-y: 180deg;
}
